@import '../../GlobalStyles.scss';

.order{
    display: flex;
    justify-content: center;
    .container{
        width: 1400px;
        padding: 50px 0;
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            button{
                border: none;
                background-color: #4285f4;
                text-decoration: none;
                padding: 10px 20px;
                color: white;
                font-weight: 500;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        table{
            width: 100%;
            text-align: center;
            th{
                background-color: #4285f4;
                color: #333;
                font-weight: 500;
                padding: 5px;
            }
            td{
                padding: 5px;
                font-size: 15px;
                color: #222;
                .image{
                    width: 50px;
                    height: 25px;
                }
                .delete{
                    width: 20px;
                }
            }
            tr{
                &:nth-child(even){
                    background-color: #1dbf730f;
                }
            }
        }
    }
}