$mainWidth : 1400px;
$mainColor: #ac213b;
// $mainColor: #013914;
// $mainColor: #92041f;
$secondColor:   #444;
// $secondColor: #1bdf73;
$mainFontFamily : "Montserrat", "sans-serif";
$greyColor: #778;
$darkGreyColor: #555;
$lightGreyColor: rgb(229, 220, 220);
$darkBackgroundColor: #0d084d;
$lightBackgroundColor: #fafafa;
$goldColor: #ffc108;
$softGreyColor : #999;